# BEGIN: /c:/Users/miyam/OneDrive/Desktop/dev/GITHUB/FAST_AND_SLOW/Fast_And_Slow/.gitignore
venv
.venv

.env

sample_code.txt

result

migrations

REMENTIA_OWN_APIKEY.xlsx

REMENTIA_OWN_APIKEY.xlsx
# END: /c:/Users/miyam/OneDrive/Desktop/dev/GITHUB/FAST_AND_SLOW/Fast_And_Slow/.gitignore


*__pycache__/
.history/
/.history/